<?xml version="1.0"?>
<launch>

    <!-- Example of how to start different services -->
    <include file="$(find hlpr_bringup)/launch/start_robot_services.launch">
        <arg name="poli_urdf" default="false"/> <!-- Sets what URDF to use -->
        <arg name="prentice_urdf" default="false"/> <!-- DO NOT USE YET. Sets what URDF to use -->
        <arg name="verbose" default="true"/> <!-- Global verbose flag -->
        <arg name="sim" default="true"/> <!-- Simulation flag-->

        <!-- Navigation -->
        <arg name="navigation" default="true"/>
        <arg name="nav_map" default="simulation_room"/>
        <arg name="nav_rviz" default="true"/>

        <!-- Arm and Gripper Drivers -->
        <arg name="jaco_arm" default="true"/>
        <arg name="jaco_7dof_arm" default="false"/> <!-- WARNING: don't have both arms set true-->
        <arg name="gripper_actions" default="true"/>
        <arg name="pub_eef" default="true"/>
        <arg name="eef_link" default="/right_ee_link"/>

        <!-- Moveit packages -->
        <arg name="jaco_moveit" default="true"/>
        <arg name="use_octomap" default="false"/>
        <arg name="jaco_moveit_wrapper" default="true"/>
        <arg name="jaco_primitive_actions" default="true"/>
        <arg name="jaco_common_actions" default="true"/>
       
        <!-- Speech internal listener related -->
        <arg name="speech" default="true"/> <!-- Turns ALL speech on and off includes input-->
        <arg name="speech_config_file" default="$(find hlpr_speech_recognition)/config/speech.yaml"/>
        <arg name="speech_yaml_list" default="$(find hlpr_speech_recognition)/data/kps.yaml"/>

        <!-- Speech external input (mic or gui) -->
        <arg name="speech_gui" default="true"/>
        <arg name="speech_mic" default="false"/>
        <arg name="speech_dict_path" default="$(find hlpr_speech_recognition)/data/kps.dic" />
        <arg name="speech_kps_path" default="$(find hlpr_speech_recognition)/data/kps.txt" />

        <!-- Lookat service -->
        <arg name="lookat" default="true"/> <!-- Global flag for head control -->
        <arg name="lookat_eef_service" default="true"/> <!-- Compute EEF lookat positions -->
        <arg name="lookat_waypoint_server" default="true"/> <!-- Action server for lookat waypoints -->

        <!-- Kinesthetic Teaching -->
        <arg name="basic_kinesthetic_mode" default="true"/>
        <arg name="kinesthetic_record" default="true"/>
        <arg name="kinesthetic_playback" default="true"/>
        <arg name="basic_kt_folder_loc" default="~/"/>
        <arg name="basic_kt_folder_name" default="kt_data"/>
        <arg name="basic_kt_data_prefix" default="kt_demo"/>
        <arg name="record_topics" default="$(find hlpr_record_demonstration)/data/topics.yaml"/>
    </include>

</launch>
